@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


/*-----------------share style-----------*/

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-praimary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    margin-top: 25px;
    margin-bottom: 32px;
}


/* header area style*/


header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}



/*----------banner style---------------*/
.banner-area {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 30px;
    color: #727272;
}

.banner img {
    width: 100%;
}

/*----------main style---------------*/

main {
    max-width:90%;
    margin:80px auto;
    border:5px solid green;
    
}

/*----------teams style---------------*/

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding-left: 50px;

}

.teams-content-title .quick {
    color: #727272;
    font-size: 2.5rem;
    font-weight: 500;
}

.teams-content-title .off-our {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

.teams-content-title .feature {
    color: #FF900E;
    font-size: 2.5rem;
    font-weight: 700;
}


.teams-content-discription {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0;
    max-width:537px;
}
















/*-------------- Media screen-------------*/


@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-ontainer  {
        flex-direction: column;

    }
    .teams-img{
        grid-template-columns: repeat(1,3fr);
    }
    .teams-img img{
      width:100%;
      margin-bottom: 20px;
      border:2px solid red;
    }
    .teams-content{
        margin-top: 30px;
        border:4px solid black;
    }
    nav>ul {
        padding-top: 50px;

    }
}





/*--------------------Tablet or medium device---------------*/




@media screen and (min-width:576px) and (max-width:960px) {

    nav, .teams-ontainer {
        flex-direction: column;

    }

    header {
        padding: 50px;
    }

    nav>ul {
        padding-top: 50px;

    }
    .teams-content{
        margin-top: 30px;
        border:4px solid black;
    }
}